<h1><%= @cocktail.name %></h1>
      <p>
        <% @cocktail.doses.each do |dose| %>

        <%= dose.description %>

      </p>

      <p>
      <%= link_to "Back", cocktails_path %>
      </p>
      <p>
      <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
      </p>

      <% end %>

